<a href="https://colab.research.google.com/github/vlr112/WebScicence_FinalProject/blob/main/labs/Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import pandas as pd
import gzip
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Familiarize Yourself with the Dataset
In the lab sessions, we will work with the "All Beauty" category of the Amazon Review Data, and we will use the 5-core subset. You can download the dataset and find information about it here: https://nijianmo.github.io/amazon/index.html

In [3]:
!git config --global user.email "vlr112@alumni.ku.dk"
!git config --global user.name "vlr112"

In [4]:
!git clone https://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@github.com/vlr112/WebScicence_FinalProject.git
# note: remove token info before submitting project

Cloning into 'WebScicence_FinalProject'...
remote: Enumerating objects: 29, done.
remote: Counting objects: 100% (29/29), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 29 (delta 8), reused 9 (delta 3), pack-reused 0
Unpacking objects: 100% (29/29), done.

In [6]:
%cd WebScicence_FinalProject/labs/

/content/WebScicence_FinalProject/labs

In [7]:
%mv /content/All_Beauty_5.json.gz .

In [26]:
!git status
!git add --all
!git commit -a -m "Exercise lab session1"
!git remote -v
!git push origin main

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	All_Beauty_5.json.gz

nothing added to commit but untracked files present (use "git add" to track)
[main bbe4317] Exercise lab session1
 1 file changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 labs/All_Beauty_5.json.gz
origin	https://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@github.com/vlr112/WebScicence_FinalProject.git (fetch)
origin	https://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@github.com/vlr112/WebScicence_FinalProject.git (push)
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 619.06 KiB | 19.97 MiB/s, done.
Total 4 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/vlr112/WebScicence_FinalProject.git
   d8ee2a1..bbe4317  main -> main

## Exercise 1
Download and import the 5-core dataset.

In [5]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty_5.json.gz

--2022-02-19 13:19:08--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty_5.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 633507 (619K) [application/octet-stream]
Saving to: ‘All_Beauty_5.json.gz’

All_Beauty_5.json.g 100%[===================>] 618.66K  1.63MB/s    in 0.4s

2022-02-19 13:19:09 (1.63 MB/s) - ‘All_Beauty_5.json.gz’ saved [633507/633507]

In [8]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

df = getDF('All_Beauty_5.json.gz')

In [9]:
#alternative

data = []
with gzip.open('All_Beauty_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# # total length of list, this number equals total number of products
# print(len(data))

# # first row of the list
# print(data[0])
df_alt = pd.DataFrame.from_dict(data)

print(len(df_alt))
print(len(df))

5269
5269

In [23]:
df

      overall  verified   reviewTime  ... unixReviewTime vote image
0         5.0      True   09 1, 2016  ...     1472688000  NaN   NaN
1         5.0      True  11 14, 2013  ...     1384387200  NaN   NaN
2         1.0      True  08 18, 2013  ...     1376784000  NaN   NaN
3         5.0     False   05 3, 2011  ...     1304380800   25   NaN
4         5.0      True   05 6, 2011  ...     1304640000    3   NaN
...       ...       ...          ...  ...            ...  ...   ...
5264      5.0      True  08 23, 2018  ...     1534982400    2   NaN
5265      5.0      True  08 23, 2018  ...     1534982400  NaN   NaN
5266      5.0      True  08 23, 2018  ...     1534982400  NaN   NaN
5267      5.0      True  08 23, 2018  ...     1534982400  NaN   NaN
5268      5.0      True  08 23, 2018  ...     1534982400  NaN   NaN

[5269 rows x 12 columns]

## Exercise 2
Clean the dataset from missing ratings and duplicates (cases where the same user has rated the same item multiple times) if any. How many observations does the cleaned dataset have?

In [24]:
df_clean = df.drop_duplicates(subset = ['reviewerID', 'asin'], keep = 'last')

# df_clean

# df.drop_duplicates(subset = ['reviewerID', 'asin'], keep = False) ## should keep first appearence or remove all of them???
(df_clean)

      overall  verified   reviewTime  ... unixReviewTime vote image
0         5.0      True   09 1, 2016  ...     1472688000  NaN   NaN
1         5.0      True  11 14, 2013  ...     1384387200  NaN   NaN
2         1.0      True  08 18, 2013  ...     1376784000  NaN   NaN
3         5.0     False   05 3, 2011  ...     1304380800   25   NaN
4         5.0      True   05 6, 2011  ...     1304640000    3   NaN
...       ...       ...          ...  ...            ...  ...   ...
5260      5.0      True   05 4, 2017  ...     1493856000    4   NaN
5261      5.0      True  11 14, 2016  ...     1479081600    2   NaN
5262      5.0      True  08 25, 2016  ...     1472083200    2   NaN
5263      4.0      True  07 14, 2016  ...     1468454400    2   NaN
5268      5.0      True  08 23, 2018  ...     1534982400  NaN   NaN

[4092 rows x 12 columns]

## Exercise 3
Create a test set by extracting the latest (in time) positively rated item (rating $\geq 4$) by each user. Remove users that do not appear in the training set. How many observations does the training and test set have?

In [ ]:

# def make_test_set(df)

positive_rating = df_clean[df_clean['overall'] >= 4.0]

exprs = {x: "first" for x in positive_rating.columns if x != 'reviewerID'  and x != 'unixReviewTime'}

exprs['unixReviewTime'] = 'max'
# my = {x: "max" for x in positive_rating.columns if x == 'unixReviewTime'}
# exprs = {x: "first" for x in positive_rating.columns }


exprs

coisa = positive_rating.groupby("reviewerID").agg(exprs).reset_index()
coisa.sort_values(by = ['asin'])

In [25]:
# df_clean

# coisa = coisa.reindex(df_clean.columns, axis=1)


coisa.sort_index()

     overall  verified   reviewTime  ... unixReviewTime  vote image
0        5.0      True   07 6, 2014  ...     1404604800  None  None
1        5.0      True  08 13, 2013  ...     1376352000  None  None
2        4.0     False  05 27, 2015  ...     1504656000  None  None
3        5.0      True  03 16, 2016  ...     1458086400  None  None
4        5.0      True  04 28, 2017  ...     1493337600  None  None
..       ...       ...          ...  ...            ...   ...   ...
954      5.0      True   08 4, 2014  ...     1407110400  None  None
955      5.0      True  05 26, 2013  ...     1369526400  None  None
956      5.0      True  12 29, 2015  ...     1451347200  None  None
957      5.0      True  12 20, 2013  ...     1387497600  None  None
958      5.0      True  09 28, 2014  ...     1411862400  None  None

[959 rows x 12 columns]

In [22]:
coisa.reset_index(drop=True)

     overall  verified   reviewTime  ... unixReviewTime  vote image
0        5.0      True   07 6, 2014  ...     1404604800  None  None
1        5.0      True  08 13, 2013  ...     1376352000  None  None
2        4.0     False  05 27, 2015  ...     1504656000  None  None
3        5.0      True  03 16, 2016  ...     1458086400  None  None
4        5.0      True  04 28, 2017  ...     1493337600  None  None
..       ...       ...          ...  ...            ...   ...   ...
954      5.0      True   08 4, 2014  ...     1407110400  None  None
955      5.0      True  05 26, 2013  ...     1369526400  None  None
956      5.0      True  12 29, 2015  ...     1451347200  None  None
957      5.0      True  12 20, 2013  ...     1387497600  None  None
958      5.0      True  09 28, 2014  ...     1411862400  None  None

[959 rows x 12 columns]

In [119]:
df_copy = df_clean.copy()
coisa_copy = coisa.copy()

df_copy['index1'] = df_copy.index
coisa['index1'] = coisa.index

coisa_copy

         reviewerID  overall  verified  ... image unixReviewTime index1
0    A105A034ZG9EHO      5.0      True  ...  None     1404604800      0
1    A10JB7YPWZGRF4      5.0      True  ...  None     1376352000      1
2    A10M2MLE2R0L6K      4.0     False  ...  None     1504656000      2
3    A10P0NAKKRYKTZ      5.0      True  ...  None     1458086400      3
4     A10ZJZNO4DAVB      5.0      True  ...  None     1493337600      4
..              ...      ...       ...  ...   ...            ...    ...
954   AZCOSCQG73JZ1      5.0      True  ...  None     1407110400    954
955   AZD3ON9ZMEGL6      5.0      True  ...  None     1369526400    955
956   AZFYUPGEE6KLW      5.0      True  ...  None     1451347200    956
957   AZJMUP77WBQZQ      5.0      True  ...  None     1387497600    957
958   AZRD4IZU6TBFV      5.0      True  ...  None     1411862400    958

[959 rows x 13 columns]

In [19]:
# ##FINAL SSSSS
#get the fucking training set

# df_clean[~df_clean.isin(coisa)]


def get_different_rows(source_df, new_df):

  """Returns just the rows from the new dataframe that differ from the source dataframe"""
  
  merged_df = source_df.merge(new_df, indicator=True, how='outer')
  changed_rows_df = merged_df[merged_df['_merge'] == 'right_only']
  return changed_rows_df.drop('_merge', axis=1)

ola = get_different_rows(df_clean, coisa)

ola


# gg = df_copy[df_copy['index1'].isin(coisa_copy['index1'])]

# gg

# gg[gg.any(axis = 1)]
# df_clean.head()
# coisa.head()

TypeError: ignored

In [21]:
(coisa['reviewerID']).isin((df_clean['reviewerID'])).astype(int)

coisa.reviewerID
# pd.DataFrame(df_clean['reviewerID']).reviewerID

0      1
1      1
2      1
3      1
4      1
      ..
954    1
955    1
956    1
957    1
958    1
Name: reviewerID, Length: 959, dtype: int64

0      A105A034ZG9EHO
1      A10JB7YPWZGRF4
2      A10M2MLE2R0L6K
3      A10P0NAKKRYKTZ
4       A10ZJZNO4DAVB
            ...
954     AZCOSCQG73JZ1
955     AZD3ON9ZMEGL6
956     AZFYUPGEE6KLW
957     AZJMUP77WBQZQ
958     AZRD4IZU6TBFV
Name: reviewerID, Length: 959, dtype: object

In [73]:
# pd.merge(coisa.reviewerID, df_clean.reviewerID, how='inner').drop_duplicates()

# keys = list(coisa.columns.values)

# keys 

# i1 = df_clean.set_index(keys).index
# i2 = coisa.set_index(keys).index

# i2
# test_set_pre = df_clean[~coisa.isin(df_clean)]
# test_set_pre.dropna(axis = 0, how = 'all')



# common = df_clean.merge(coisa)
# result = df_clean[~df_clean.isin(common.reviewerID)]
# result

# df_clean.merge(coisa, how ="left", indicator= True).query('_merge == "left_only"').drop('_merge', 1)

# df_clean[~df_clean.isin(coisa)]

coisa
np.where(df_clean['overall'] == 'NaN')

         reviewerID  overall  verified  ...  vote image unixReviewTime
0    A105A034ZG9EHO      5.0      True  ...  None  None     1404604800
1    A10JB7YPWZGRF4      5.0      True  ...  None  None     1376352000
2    A10M2MLE2R0L6K      4.0     False  ...  None  None     1504656000
3    A10P0NAKKRYKTZ      5.0      True  ...  None  None     1458086400
4     A10ZJZNO4DAVB      5.0      True  ...  None  None     1493337600
..              ...      ...       ...  ...   ...   ...            ...
954   AZCOSCQG73JZ1      5.0      True  ...  None  None     1407110400
955   AZD3ON9ZMEGL6      5.0      True  ...  None  None     1369526400
956   AZFYUPGEE6KLW      5.0      True  ...  None  None     1451347200
957   AZJMUP77WBQZQ      5.0      True  ...  None  None     1387497600
958   AZRD4IZU6TBFV      5.0      True  ...  None  None     1411862400

[959 rows x 12 columns]

(array([], dtype=int64),)

In [61]:
positive_rating.groupby(['reviewerID'], as_index=False).agg({'value1': 'sum', 'value2': 'sum', 'otherstuff1': 'first', 'otherstuff2': 'first'})

latest = positive_rating.groupby(['reviewerID']).max('unixReviewTime').reset_index()

['reviewerID', 'overall', 'verified', 'unixReviewTime']

In [51]:
#3) create a test set by extracting the latest positively rated item rating ≥ 4) 
#by each user. Remove users that do not appear in the training set.

# latest positively rated item (rating ≥ 4) by each use --> 

positive_rating = df_clean[df_clean['overall'] >= 4.0]

latest = positive_rating.groupby(['reviewerID']).max('unixReviewTime').reset_index()


#make pre test set
keys = list(latest.columns.values)

i1 = df_clean.set_index(keys).index
i2 = latest.set_index(keys).index
test_set_pre = df_clean[i1.isin(i2)]

# display(test_set_pre.sort_values(by = ['reviewerID']))


display(test_set_pre)

# # now get train_set
# i3 = test_set_pre.set_index(keys).index

# train_set  = df_clean[~i1.isin(i3)]

# display(train_set)

# display(train_set.sort_values(by = ['reviewerID']))

      overall  verified   reviewTime  ... unixReviewTime vote image
0         5.0      True   09 1, 2016  ...     1472688000  NaN   NaN
1         5.0      True  11 14, 2013  ...     1384387200  NaN   NaN
3         5.0     False   05 3, 2011  ...     1304380800   25   NaN
4         5.0      True   05 6, 2011  ...     1304640000    3   NaN
5         5.0     False  05 16, 2010  ...     1273968000  NaN   NaN
...       ...       ...          ...  ...            ...  ...   ...
5259      5.0      True  05 19, 2017  ...     1495152000  NaN   NaN
5260      5.0      True   05 4, 2017  ...     1493856000    4   NaN
5261      5.0      True  11 14, 2016  ...     1479081600    2   NaN
5262      5.0      True  08 25, 2016  ...     1472083200    2   NaN
5263      4.0      True  07 14, 2016  ...     1468454400    2   NaN

[3571 rows x 12 columns]

In [48]:
#Remove users that do not appear in the training set.

final_test = test_set_pre.loc[test_set_pre['reviewerID'].isin(train_set['reviewerID'])]
final_test

      overall  verified   reviewTime  ... unixReviewTime vote image
0         5.0      True   09 1, 2016  ...     1472688000  NaN   NaN
3         5.0     False   05 3, 2011  ...     1304380800   25   NaN
91        5.0      True  03 12, 2017  ...     1489276800  NaN   NaN
210       5.0      True  04 23, 2016  ...     1461369600  NaN   NaN
249       5.0      True  02 21, 2016  ...     1456012800  NaN   NaN
...       ...       ...          ...  ...            ...  ...   ...
5077      5.0     False  09 29, 2017  ...     1506643200  NaN   NaN
5081      5.0     False  09 22, 2017  ...     1506038400  NaN   NaN
5082      5.0     False  09 19, 2017  ...     1505779200  NaN   NaN
5134      5.0     False   04 3, 2018  ...     1522713600  NaN   NaN
5181      5.0     False  09 13, 2014  ...     1410566400    3   NaN

[110 rows x 12 columns]

## Exercise 4
### 4.1
Compute the number of ratings per user in the training set. What is the summary statistics of the number of ratings, and how does a histogram look like? <br>
Reflect on how a collaborative filtering and a content-based recommender system, respectively, will perform for users with few ratings.

### 4.2
Compute the number of ratings per item in the training set. How does a barplot of the number of ratings ordered by decreasing frequency look like? <br>
Reflect on how it will affect the prediction process of a recommender system if only a small fraction of the items are rated frequently. <br>
<br>
Repeat this exercise on the test set and reflect on how the evaluation of a recommender system can be affected by popular items.

### 4.3
Compute the mean rating per user in the training set. What is the summary statistics of the rating means, and how does a histogram look like? <br>
Reflect on how a recommender system can take into account if different users rate on different "scales" (e.i. a rating of $3$ may be high for one user while low for another).<br>
<br>
Repeat this exercise with mean rating per item.