# Evaluation of Recommender Systems

Based on the same dataset used on previous weeks, let us evaluate the Collaborative Filtering (CF) models implemented last week.

## Exercise 1

1. Load the test set and the predictions made with both Collaborative Filtering models in the previous session. 
2. Detect those users which are in the training set but not in the test set. Remove their predictions before evaluating the systems.
3. Report the Root Mean Square Error (RMSE) for both CF models defined in the previous session.

In [ ]:
import os
import sys
sys.path.append('../')
import pickle
import pandas as pd

# TEST
### YOUR CODE HERE ###

# PREDICTIONS
### YOUR CODE HERE ###

# Detect users from training set that are not in test
nb_users = set([pred.uid for pred in pred_nb_list])
lf_users = set([pred.uid for pred in pred_lf_list])
nb_users_in_pred_but_not_in_test = list(nb_users.difference(set(df_test['reviewerID'])))
lf_users_in_pred_but_not_in_test = list(lf_users.difference(set(df_test['reviewerID'])))
assert nb_users_in_pred_but_not_in_test == lf_users_in_pred_but_not_in_test
print(f"There are {len(lf_users_in_pred_but_not_in_test)} users in the training set that are not in the test set.")

# Remove these users' predictions for evaluation
### YOUR CODE HERE ###

## Exercise 2
Define a general method to get the top-k recommendations for each user. Print the top-k with k={5, 10} recommendations for the user with ID 'ARARUVZ8RUF5T' and its estimated ratings.

## Excercise 3
Report Precision@k (P@k), MAP@k and the MRR@k with k={5, 10, 20} averaged across users for both CF systems. When computing precision, we consider as relevant items those with an observed rating >= 4.0 (i.e., those items from the test set with a rating >= 4.0). Reflect on the differences obtained.

## Excercise 4

Based on the top-5, top-10 and top-20 predictions from Exercise 2, compute the systemsâ€™ hit rate averaged over the total number of users in the test set.

In [ ]:
#precision at 5 for neigboorhod based model.


def top_rec(df, k):
    df = df.sort_values(by= ['uid', 'est'], ascending= False)
    return df.groupby('uid').head(k)

babe = top_rec(upd_pred_nbm_df, 10)

babe.head(10)

In [ ]:
# get r_ui column all to zeros
# merge predictions df with test df. Atention! -> merge following columns from testset -> ['reviewerID', 'asin', 'overall']
# change of r_ui in predictions df part of new df, and deleted the merged part that belongs to test df.
# We end up with predictions df that has, at best!, one relevant gound thruth. Why at best? -> because, 1st r_ui must be in the top k predictions and r_ui must be above the threshold



upd_pred_nbm_df = upd_pred_nbm_df.assign(r_ui=0)
# upd_pred_nbm_df[upd_pred_nbm_df['r_ui']] = 0

In [ ]:
def prepare(upd_pred_nbm_df, test):

    # upd_pred_nbm_df = top_rec(upd_pred_nbm_df, 10)
    # get r_ui column all to zeros
    upd_pred_nbm_df = upd_pred_nbm_df.assign(r_ui=0)

    #prepare test df for merging
    new_test = test[['reviewerID', 'asin', 'overall']]
    new_column_list = ['uid', 'iid', 'r_ui']
    new_test = new_test.set_axis(new_column_list, axis=1)

    #concat predictions df with test df
    joint = pd.concat([upd_pred_nbm_df, new_test]).sort_values(by = ['uid', 'iid'])

    #make df with just duplicates
    duplies = joint[joint.duplicated(subset = ['uid', 'iid'], keep= False)].sort_values(by=['uid', 'r_ui'])

    #shift up by 1, so the predictions rows have the real value
    duplies['r_ui'] = duplies['r_ui'].shift(-1)

    #drop test rows. They no longer matter
    no_duplies = duplies[duplies['est'].notna()]


    final = pd.concat([joint, no_duplies]).sort_values(by = ['uid', 'iid', 'r_ui']).drop_duplicates(['uid', 'iid'], keep = 'last')#.reset_index(drop=True)

    final = final.sort_index(axis = 0)

    final = final.sort_values(by= ['uid', 'est'], ascending= False)

    #make new column with row index by group
    final['group_index'] = final.groupby(['uid']).cumcount()+1

    return final

def get_precision(df, test, k):

    final = prepare(df, test)
    # tt = final.groupby(['uid']).head(k)

    # Count number of non-zero elements PER USER. It returns df with many columns. Our case, we only care about ground truth.
    gg = tt.groupby(['uid']).agg(lambda x: x.ne(0).sum())

    # gg = final.groupby(['uid']).agg(lambda x: x.ne(0).sum())

    # gg = tt.groupby('uid').count()


    #must account for when a user has no recommended items. -> precision = 0

    # np.mean(gg['r_ui']/5)

    # df.sort_values(by= ['uid', 'est'], ascending= False)

    # return np.mean(gg['r_ui'])

    return gg

def get_MAP(df, test):
    
    df = prepare(df, test)

    # df = df.groupby(['uid']).head(k)

    #make new column with row index by group
    # df['group_index'] = df.groupby(['uid']).cumcount()+1

    # get rows index that matter to calculate MAP@k
    df_new = df[df['r_ui'].apply(lambda x: x != 0)]

    return df_new
    # return sum(1/(df_new['group_index'] +1))/len(test)


def hit_rate(df, test, k):
    """ Difference from Precision@k is: at the end 
    -> we have count of non-zeros 'r_ui' per user. (Note: in this exercicise we get AT MOST 1 count per user, because of initial building of test dataset, with just 1 item per user).
    -> caluclate mean over all users.
    In Precision@k:
    -> .... same
    -> divide the count of non-zeros for a given user by k. 
    -> caluclate mean over all users  """
    
    final = prepare(df, test)

    # Select only top k rows for each user
    tt = final.groupby(['uid']).head(k)

    # Count number of non-zero elements PER USER. It returns df with many columns (only 'r_ui' matters)
    gg = tt.groupby(['uid']).agg(lambda x: x.ne(0).sum())
    

    # np.mean(gg['r_ui']/5)

    # df.sort_values(by= ['uid', 'est'], ascending= False)

    return np.mean(gg['r_ui'])

# oh1 = get_MAP(upd_pred_nbm_df, test,20)

# oh1

ui = prepare(upd_pred_nbm_df, test)

ui.head(10)

# ui.loc[ui['uid'] == 'AZ520NWW40I9B']


kj = get_precision(upd_pred_nbm_df, test, 57)


kj = kj.reset_index()

kj

kj.loc[kj['uid'] == 'AZ520NWW40I9B' ]

# kj['AZ520NWW40I9B']

# get_MAP(upd_pred_nbm_df, test).head(10)
    
# get_precision(upd_pred_nbm_df, test, 10)
# AZ520NWW40I9B

,uid,iid,r_ui,est,details,group_index
54691,AZRD4IZU6TBFV,B000VV1YOY,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",1
54692,AZRD4IZU6TBFV,B001LNODUS,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",2
54693,AZRD4IZU6TBFV,B00006L9LC,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",3
54694,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.0,"{'actual_k': 40, 'was_impossible': False}",4
54695,AZRD4IZU6TBFV,B001OHV1H4,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",5
54696,AZRD4IZU6TBFV,B000X7ST9Y,0.0,5.0,"{'actual_k': 1, 'was_impossible': False}",6
54697,AZRD4IZU6TBFV,B00DY59MB6,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",7
54698,AZRD4IZU6TBFV,B019FWRG3C,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",8
54699,AZRD4IZU6TBFV,B00L1I1VMG,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",9
54700,AZRD4IZU6TBFV,B0010ZBORW,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",10

                uid  iid  r_ui  est  details
0    A105A034ZG9EHO    5     0    5        5
1    A10JB7YPWZGRF4    5     0    5        5
2    A10M2MLE2R0L6K    5     0    5        5
3    A10P0NAKKRYKTZ    5     0    5        5
4     A10ZJZNO4DAVB    5     0    5        5
..              ...  ...   ...  ...      ...
944   AZCOSCQG73JZ1    5     0    5        5
945   AZD3ON9ZMEGL6    5     0    5        5
946   AZFYUPGEE6KLW    5     0    5        5
947   AZJMUP77WBQZQ    5     0    5        5
948   AZRD4IZU6TBFV    5     0    5        5

[949 rows x 5 columns]

               uid  iid  r_ui  est  details
943  AZ520NWW40I9B    5     1    5        5

In [ ]:
# ui.loc[ui['uid'] == 'AZ520NWW40I9B']

# ui.loc[ui[['r_ui', 'est']].where(ui[['r_ui', 'est']]!= 'NaN')]

# ui[(ui > 0).sum(axis=1) >= 3]
#

In [ ]:
# understand why 'AZ520NWW40I9B' returns estimate NAN after prepare.

# Ok, so what happened?? -> basically, this item 'B00QXW95Q4' was only ever rated by this user 'AZ520NWW40I9B'.
# And this pair happens to be in the test dataset. So in the train dataset, this item 'B00QXW95Q4' will never be
# recommended, because it just "doesn't exist" !


upd_pred_nbm_df.head(10)

ww = upd_pred_nbm_df.loc[upd_pred_nbm_df['uid'] == 'AZ520NWW40I9B']

ww.loc[ww['iid'] == 'B00QXW95Q4']

upd_pred_nbm_df.loc[upd_pred_nbm_df['iid'] == 'B00QXW95Q4']

,uid,iid,r_ui,est,details,group_index
54691,AZRD4IZU6TBFV,B000VV1YOY,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",1
54692,AZRD4IZU6TBFV,B001LNODUS,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",2
54693,AZRD4IZU6TBFV,B00006L9LC,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",3
54694,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.0,"{'actual_k': 40, 'was_impossible': False}",4
54695,AZRD4IZU6TBFV,B001OHV1H4,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",5
54696,AZRD4IZU6TBFV,B000X7ST9Y,0.0,5.0,"{'actual_k': 1, 'was_impossible': False}",6
54697,AZRD4IZU6TBFV,B00DY59MB6,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",7
54698,AZRD4IZU6TBFV,B019FWRG3C,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",8
54699,AZRD4IZU6TBFV,B00L1I1VMG,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",9
54700,AZRD4IZU6TBFV,B0010ZBORW,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",10

Empty DataFrame
Columns: [uid, iid, r_ui, est, details]
Index: []

Empty DataFrame
Columns: [uid, iid, r_ui, est, details]
Index: []

In [ ]:
def hit_rate(df, test, k):
    """ Difference from Precision@k is: at the end 
    -> we have count of non-zeros 'r_ui' per user. (Note: in this exercicise we get AT MOST 1 count per user, because of initial building of test dataset, with just 1 item per user).
    -> caluclate mean over all users.
    In Precision@k:
    -> .... same
    -> divide the count of non-zeros for a given user by k. 
    -> caluclate mean over all users  """
    
    final = prepare(df, test)

    # Select only top k rows for each user
    tt = final.groupby(['uid']).head(k)

    # Count number of non-zero elements PER USER. It returns df with many columns (only 'r_ui' matters)
    gg = tt.groupby(['uid']).agg(lambda x: x.ne(0).sum())

    # np.mean(gg['r_ui']/5)

    # df.sort_values(by= ['uid', 'est'], ascending= False)

    return np.mean(gg['r_ui'])

In [ ]:
################## TEST with more than one Ground Truth per user #######################

In [ ]:
# upd_pred_nbm_df

my_copy = ui.copy()

my_copy.iat[6, my_copy.columns.get_loc('r_ui')] = float(4)

my_copy.head(10)

,uid,iid,r_ui,est,details,group_index
54691,AZRD4IZU6TBFV,B000VV1YOY,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",1
54692,AZRD4IZU6TBFV,B001LNODUS,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",2
54693,AZRD4IZU6TBFV,B00006L9LC,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",3
54694,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.0,"{'actual_k': 40, 'was_impossible': False}",4
54695,AZRD4IZU6TBFV,B001OHV1H4,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",5
54696,AZRD4IZU6TBFV,B000X7ST9Y,0.0,5.0,"{'actual_k': 1, 'was_impossible': False}",6
54697,AZRD4IZU6TBFV,B00DY59MB6,4.0,5.0,"{'actual_k': 0, 'was_impossible': False}",7
54698,AZRD4IZU6TBFV,B019FWRG3C,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",8
54699,AZRD4IZU6TBFV,B00L1I1VMG,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",9
54700,AZRD4IZU6TBFV,B0010ZBORW,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",10

In [ ]:
def get_precision(df, k):

    # final = prepare(df, test)
    tt = df.groupby(['uid']).head(k)

    # Count number of non-zero elements PER USER. It returns df with many columns. Our case, we only care about ground truth.
    gg = tt.groupby(['uid']).agg(lambda x: x.ne(0).sum())

    # np.mean(gg['r_ui']/5)

    # df.sort_values(by= ['uid', 'est'], ascending= False)

    # return np.mean(gg['r_ui'])

    return gg

# my_copy.head(10)

# get_MAP(my_copy, test, 10).head(10)

get_precision(my_copy, 10)

                iid  r_ui  est  details
uid
A105A034ZG9EHO   10     1   10       10
A10JB7YPWZGRF4   10     1   10       10
A10M2MLE2R0L6K   10     0   10       10
A10P0NAKKRYKTZ   10     1   10       10
A10ZJZNO4DAVB    10     1   10       10
...             ...   ...  ...      ...
AZCOSCQG73JZ1    10     1   10       10
AZD3ON9ZMEGL6    10     1   10       10
AZFYUPGEE6KLW    10     1   10       10
AZJMUP77WBQZQ    10     1   10       10
AZRD4IZU6TBFV    10     2   10       10

[949 rows x 4 columns]

In [ ]:

def get_MAP(df, k):
    
    # df = prepare(df, test)

    # df = df.groupby(['uid']).head(k)

   

    #make new column with row index by group
    df['group_index'] = df.groupby(['uid']).cumcount()+1


    # # get number of ground truths per user
    gg = df.groupby(['uid']).agg(lambda x: x.ne(0).sum())


    # df = df.groupby(['uid']).head(k)
    # get rows index that matter to calculate MAP@k
    df_new = df[df['r_ui'].apply(lambda x: x != 0)]

    
    try2 = df_new.groupby(["uid"])['uid'].count().reset_index(name="Ground_Truth")#.set_index('uid')
    result = pd.merge(df_new, try2, on=['uid'])

    # select only top k
    result = result[result['group_index'] < k]

    #now for top k recommended items get Average Precision for each user

    try3 = result.groupby(["uid"])['uid'].count().reset_index(name="Precision")#.set_index('uid')
    result_2 = pd.merge(result, try3, on=['uid'])


    result_2['Average Precision'] = result_2['Precision'] /(k*result_2['Ground_Truth'])


    # result['AP'] = 1/result['Ground_Truth']

    # df_new.groupby('uid').count()



    
    df_news = df_new[df_new['est'].isna()]
    

    # df_new.groupby('uid').count()

    # gets precision. Works for more than 1 hit in top k
    # ss = df_new.groupby('uid').count() / k

    # ss/ ground_thruth

    #maybe add colum with ground truth for each user

    return df_news
    # return (result_2).groupby('uid').mean()

    # return sum(result_2['Average Precision']) /len(test)
    
    # return sum(1/(df_new['group_index']))/len(test)

# len(get_MAP(my_copy,1000))

dd = get_MAP(my_copy,10)
# len(dd)

# dd.loc[dd['uid'] == 'AZ520NWW40I9B']

dd



# AZ520NWW40I9B	B00QXW95Q4

                 uid         iid  r_ui  est details  group_index
5221   AZ520NWW40I9B  B00QXW95Q4   5.0  NaN     NaN           56
5142   ATEX4XVEQYN7B  B004KEJ65C   5.0  NaN     NaN           56
5165   AT9SW0VOLAKQD  B00BSE3III   5.0  NaN     NaN           56
5194   AT2F2DJ7RELJI  B00IJHY54S   5.0  NaN     NaN           56
5207   AROYPRQ35VSAT  B00JF2GVWK   5.0  NaN     NaN           56
...              ...         ...   ...  ...     ...          ...
4139  A157AUOFPJQ46Q  B001E5PLCM   4.0  NaN     NaN           57
5174  A156IOMOA59X7N  B00CQ0LN80   5.0  NaN     NaN           56
5182  A12X146LZM6KM0  B00HLXEXDO   5.0  NaN     NaN           56
5170  A121C9UWQFW5W6  B00CQ0LN80   5.0  NaN     NaN           56
5247  A1118RD3AJD5KH  B00VG1AV5Q   5.0  NaN     NaN           56

[119 rows x 6 columns]

In [ ]:
dd.groupby('uid').count()

                iid  r_ui  est  details  group_index  Ground_Truth  AP
uid
A105A034ZG9EHO    1     1    1        1            1             1   1
A10JB7YPWZGRF4    1     1    1        1            1             1   1
A10P0NAKKRYKTZ    1     1    1        1            1             1   1
A10ZJZNO4DAVB     1     1    1        1            1             1   1
A115LE3GBAO8I6    1     1    1        1            1             1   1
...             ...   ...  ...      ...          ...           ...  ..
AZCOSCQG73JZ1     1     1    1        1            1             1   1
AZD3ON9ZMEGL6     1     1    1        1            1             1   1
AZFYUPGEE6KLW     1     1    1        1            1             1   1
AZJMUP77WBQZQ     1     1    1        1            1             1   1
AZRD4IZU6TBFV     2     2    2        2            2             2   2

[732 rows x 7 columns]

In [ ]:
try2 = dd.groupby(["uid"])['uid'].count().reset_index(name="count")#.set_index('uid')

result = pd.merge(dd, try2, on=['uid'])
result

fun = result[result['group_index'] < 6]


result.groupby('uid')['r_ui'].count()

result['AP'] = 1/result['count']

result

,uid,iid,r_ui,est,details,group_index,count
0,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,2
1,AZRD4IZU6TBFV,B00DY59MB6,4.0,5.000000,"{'actual_k': 0, 'was_impossible': False}",7,2
2,AZJMUP77WBQZQ,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1
3,AZFYUPGEE6KLW,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1
4,AZD3ON9ZMEGL6,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1
...,...,...,...,...,...,...,...
945,A10ZJZNO4DAVB,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1
946,A10P0NAKKRYKTZ,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1
947,A10M2MLE2R0L6K,B019FWRG3C,5.0,4.445363,"{'actual_k': 23, 'was_impossible': False}",44,1
948,A10JB7YPWZGRF4,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1
949,A105A034ZG9EHO,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1

uid
A105A034ZG9EHO    1
A10JB7YPWZGRF4    1
A10M2MLE2R0L6K    1
A10P0NAKKRYKTZ    1
A10ZJZNO4DAVB     1
                 ..
AZCOSCQG73JZ1     1
AZD3ON9ZMEGL6     1
AZFYUPGEE6KLW     1
AZJMUP77WBQZQ     1
AZRD4IZU6TBFV     2
Name: r_ui, Length: 949, dtype: int64

,uid,iid,r_ui,est,details,group_index,count,AP
0,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,2,0.5
1,AZRD4IZU6TBFV,B00DY59MB6,4.0,5.000000,"{'actual_k': 0, 'was_impossible': False}",7,2,0.5
2,AZJMUP77WBQZQ,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1.0
3,AZFYUPGEE6KLW,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1.0
4,AZD3ON9ZMEGL6,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1,1.0
...,...,...,...,...,...,...,...,...
945,A10ZJZNO4DAVB,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1.0
946,A10P0NAKKRYKTZ,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1,1.0
947,A10M2MLE2R0L6K,B019FWRG3C,5.0,4.445363,"{'actual_k': 23, 'was_impossible': False}",44,1,1.0
948,A10JB7YPWZGRF4,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1,1.0
949,A105A034ZG9EHO,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1,1.0

In [ ]:
ff = result.groupby('uid').sum()

                r_ui        est  group_index  count   AP
uid
A105A034ZG9EHO   5.0   5.000000            4      1  1.0
A10JB7YPWZGRF4   5.0   5.000000            4      1  1.0
A10M2MLE2R0L6K   5.0   4.445363           44      1  1.0
A10P0NAKKRYKTZ   5.0   5.000000            4      1  1.0
A10ZJZNO4DAVB    5.0   5.000000            5      1  1.0
...              ...        ...          ...    ...  ...
AZCOSCQG73JZ1    5.0   5.000000            5      1  1.0
AZD3ON9ZMEGL6    5.0   5.000000            4      1  1.0
AZFYUPGEE6KLW    5.0   5.000000            5      1  1.0
AZJMUP77WBQZQ    5.0   5.000000            5      1  1.0
AZRD4IZU6TBFV    9.0  10.000000           11      4  1.0

[949 rows x 5 columns]

In [ ]:
my_copy.groupby('uid').head(8)
my_copy.head(10)

,uid,iid,r_ui,est,details,group_index
54691,AZRD4IZU6TBFV,B000VV1YOY,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",1
54692,AZRD4IZU6TBFV,B001LNODUS,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",2
54693,AZRD4IZU6TBFV,B00006L9LC,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",3
54694,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.0,"{'actual_k': 40, 'was_impossible': False}",4
54695,AZRD4IZU6TBFV,B001OHV1H4,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",5
...,...,...,...,...,...,...
4,A105A034ZG9EHO,B0012Y0ZG2,5.0,5.0,"{'actual_k': 40, 'was_impossible': False}",4
5,A105A034ZG9EHO,B001OHV1H4,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",5
6,A105A034ZG9EHO,B000X7ST9Y,0.0,5.0,"{'actual_k': 1, 'was_impossible': False}",6
7,A105A034ZG9EHO,B00DY59MB6,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",7
8,A105A034ZG9EHO,B019FWRG3C,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",8

,uid,iid,r_ui,est,details,group_index
54691,AZRD4IZU6TBFV,B000VV1YOY,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",1
54692,AZRD4IZU6TBFV,B001LNODUS,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",2
54693,AZRD4IZU6TBFV,B00006L9LC,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",3
54694,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.0,"{'actual_k': 40, 'was_impossible': False}",4
54695,AZRD4IZU6TBFV,B001OHV1H4,0.0,5.0,"{'actual_k': 40, 'was_impossible': False}",5
54696,AZRD4IZU6TBFV,B000X7ST9Y,0.0,5.0,"{'actual_k': 1, 'was_impossible': False}",6
54697,AZRD4IZU6TBFV,B00DY59MB6,4.0,5.0,"{'actual_k': 0, 'was_impossible': False}",7
54698,AZRD4IZU6TBFV,B019FWRG3C,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",8
54699,AZRD4IZU6TBFV,B00L1I1VMG,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",9
54700,AZRD4IZU6TBFV,B0010ZBORW,0.0,5.0,"{'actual_k': 0, 'was_impossible': False}",10

In [ ]:
class Metrics:

  def __init__(self,df,test,k):

    self.df = df
    self.test = test
    self.k = k

  def prepare(self):
    """ Join prediction df with test df so the final df has at the ground truth (in this case there's just 1 GT per user)"""

    # upd_pred_nbm_df = top_rec(upd_pred_nbm_df, 10)
    # get r_ui column all to zeros
    upd_pred_nbm_df = self.df.assign(r_ui=0)

    #prepare test df for merging
    new_test = self.test[['reviewerID', 'asin', 'overall']]
    new_column_list = ['uid', 'iid', 'r_ui']
    new_test = new_test.set_axis(new_column_list, axis=1)

    #concat predictions df with test df
    joint = pd.concat([upd_pred_nbm_df, new_test]).sort_values(by = ['uid', 'iid'])

    #make df with just duplicates
    duplies = joint[joint.duplicated(subset = ['uid', 'iid'], keep= False)].sort_values(by=['uid', 'r_ui'])

    #shift up by 1, so the predictions rows have the real value
    duplies['r_ui'] = duplies['r_ui'].shift(-1)

    #drop test rows. They no longer matter
    no_duplies = duplies[duplies['est'].notna()]


    final = pd.concat([joint, no_duplies]).sort_values(by = ['uid', 'iid', 'r_ui']).drop_duplicates(['uid', 'iid'], keep = 'last')#.reset_index(drop=True)

    final = final.sort_index(axis = 0)

    final = final.sort_values(by= ['uid', 'est'], ascending= False)

    #make new column with row index by group
    final['group_index'] = final.groupby(['uid']).cumcount()+1

    # get rows index that have ground_truth
    # final= final[final['r_ui'].apply(lambda x: x != 0)]

    return final


  def get_precision(self):

    final = self.prepare()
    tt = final.groupby(['uid']).head(self.k)

    gg = tt.groupby(['uid']).agg(lambda x: x.ne(0).sum())

    # return np.mean(gg['r_ui']/self.k)

    return gg
    
    # # select only top k
    # result = result[result['group_index'] < self.k]

    # #now for top k recommended items get Average Precision for each user
    # try3 = result.groupby(["uid"])['uid'].count().reset_index(name="Precision")#.set_index('uid')
    # result_2 = pd.merge(result, try3, on=['uid'])

    # # in case there's more than 1 hit in top k recommendation per user keep just 1st appearance.
    # # it already contains info needed to calculate precision
    # result_2 = result_2.drop_duplicates('uid', keep = 'first')

    # coisa = np.mean(result_2['Precision']/self.k)

    # # return np.mean(gg['r_ui']/self.k)
    # # return coisa/ len(self.test)
    # return coisa


  
  def hit_rate(self):
    """ Difference from Precision@k is: at the end 
    -> we have count of non-zeros 'r_ui' per user. (Note: in this exercicise we get AT MOST 1 count per user, because of initial building of test dataset, with just 1 item per user).
    -> calculate mean over all users.
    In Precision@k:
    -> .... same
    -> divide the count of non-zeros for a given user by k. 
    -> caluclate mean over all users  """
    
    final = prepare(df, test)

    # Select only top k rows for each user
    tt = final.groupby(['uid']).head(self.k)

    # Count number of non-zero elements PER USER. It returns df with many columns (only 'r_ui' matters to us)
    gg = tt.groupby(['uid']).agg(lambda x: x.ne(0).sum())

    

    return np.mean(gg['r_ui'])


  # def get_MAP(self):
    
  #   df = self.prepare()

  #   df = df.groupby(['uid']).head(self.k)

  #   #make new column with row index by group
  #   df['group_index'] = df.groupby('uid').cumcount()

  #   # get rows index that matter to calculate MAP@k
  #   # df_new = df[df['r_ui'].apply(lambda x: x != 0)]

  #   return df


  
  def get_MAP(self):
      
      df = self.prepare()

      # get rows index that matter to calculate MAP@k
      # df_new = df[df['r_ui'].apply(lambda x: x != 0)]

      # Calculate Ground truth for each user and merge in one df
      try2 = df.groupby(["uid"])['uid'].count().reset_index(name="Ground_Truth")#.set_index('uid')
      result = pd.merge(df, try2, on=['uid'])

      # select only top k
      result = result[result['group_index'] < self.k]

      #now for top k recommended items get Average Precision for each user
      try3 = result.groupby(["uid"])['uid'].count().reset_index(name="Precision")#.set_index('uid')
      result_2 = pd.merge(result, try3, on=['uid'])


      result_2['Average Precision'] = result_2['Precision'] /(self.k * result_2['Ground_Truth'])

      return (result_2)

      # return sum(result_2['Average Precision']) /len(self.test)




hola = Metrics(upd_pred_nbm_df, test, 5)
hola.prepare()
hola.get_precision().head(30)
# hola.get_MAP()

# my_final = hola.prepare()

,uid,iid,r_ui,est,details,group_index
54691,AZRD4IZU6TBFV,B000VV1YOY,0.0,5.00,"{'actual_k': 0, 'was_impossible': False}",1
54692,AZRD4IZU6TBFV,B001LNODUS,0.0,5.00,"{'actual_k': 0, 'was_impossible': False}",2
54693,AZRD4IZU6TBFV,B00006L9LC,0.0,5.00,"{'actual_k': 40, 'was_impossible': False}",3
54694,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.00,"{'actual_k': 40, 'was_impossible': False}",4
54695,AZRD4IZU6TBFV,B001OHV1H4,0.0,5.00,"{'actual_k': 40, 'was_impossible': False}",5
...,...,...,...,...,...,...
22,A105A034ZG9EHO,B000PKKAGO,0.0,4.25,"{'actual_k': 1, 'was_impossible': False}",52
32,A105A034ZG9EHO,B00112DRHY,0.0,4.00,"{'actual_k': 1, 'was_impossible': False}",53
0,A105A034ZG9EHO,B00W259T7G,0.0,3.10,"{'actual_k': 2, 'was_impossible': False}",54
39,A105A034ZG9EHO,B000W0C07Y,0.0,2.00,"{'actual_k': 1, 'was_impossible': False}",55
49,A105A034ZG9EHO,B0011FYB5I,0.0,2.00,"{'actual_k': 1, 'was_impossible': False}",56

                iid  r_ui  est  details  group_index
uid
A105A034ZG9EHO    5     1    5        5            5
A10JB7YPWZGRF4    5     1    5        5            5
A10M2MLE2R0L6K    5     0    5        5            5
A10P0NAKKRYKTZ    5     1    5        5            5
A10ZJZNO4DAVB     5     1    5        5            5
A1118RD3AJD5KH    5     0    5        5            5
A115LE3GBAO8I6    5     1    5        5            5
A11AZPF8R6A1F8    5     1    5        5            5
A11L1TI883AOSV    5     1    5        5            5
A121C9UWQFW5W6    5     0    5        5            5
A125PSVY71Q7KZ    5     1    5        5            5
A125TMC44CJBKK    5     1    5        5            5
A12B5Y225ADJWE    5     1    5        5            5
A12BLGAAZBUU96    5     1    5        5            5
A12HTKLZWLEAF5    5     1    5        5            5
A12HWYJ6G58FGV    5     1    5        5            5
A12I397MEWA1VB    5     1    5        5            5
A12X146LZM6KM0    5     0    5        5            5
A12X3J7IITW1J6    5     1    5        5            5
A132O42MLTHYSX    5     1    5        5            5
A13B2J5IBGS8Y2    5     1    5        5            5
A13PKMKQ0177SH    5     1    5        5            5
A149WHPACMTSLO    5     1    5        5            5
A14BV6AW987ZDN    5     1    5        5            5
A14QBW6X0Q1YSD    5     1    5        5            5
A14R11HV2H7AVW    5     1    5        5            5
A14SJT4M0BP298    5     1    5        5            5
A14Y0FPHPBKBAF    5     1    5        5            5
A14YENXHLKG9WL    5     1    5        5            5
A150XCEZV6KF5G    5     1    5        5            5

In [ ]:
test['reviewerID'].nunique()

len(test)

949

949

In [ ]:
hola.prepare().head(20)

,uid,iid,r_ui,est,details,group_index
54694,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4
54639,AZJMUP77WBQZQ,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
54583,AZFYUPGEE6KLW,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
54526,AZD3ON9ZMEGL6,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4
54471,AZCOSCQG73JZ1,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
5221,AZ520NWW40I9B,B00QXW95Q4,5.0,NaN,NaN,56
54360,AZ4T3DDT8L9EQ,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
54304,AYY463Q7V3LTU,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
54247,AYORX1AK30JMB,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4
54199,AYNTULRNAIPNY,B0010ZBORW,4.0,3.916667,"{'actual_k': 4, 'was_impossible': False}",54
54128,AY8XPOPF0OVO5,B00RZYW4RG,5.0,5.000000,"{'actual_k': 1, 'was_impossible': False}",48
54027,AXZPSRWKSDO27,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
53970,AXRLM8I2VTIMV,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4
53962,AXQAIG2XT292S,B00RZYW4RG,5.0,5.000000,"{'actual_k': 1, 'was_impossible': False}",48
53859,AXIU0T1YPFUBX,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4
53804,AXIGAHX96N522,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
53748,AXF86QVFWFE4L,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5
53691,AXDHA80LYRYSE,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4
53635,AXCURT4DMJ5X,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4
53579,AX5SY5C2R0LRV,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4

In [ ]:


hola = Metrics(upd_pred_nbm_df, test, 60)
ty = hola.get_MAP()

ty.head(10)

np.mean(hola.get_MAP()['Average Precision'])

,uid,iid,r_ui,est,details,group_index,Ground_Truth,Precision,Average Precision
0,AZRD4IZU6TBFV,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1,1,0.016667
1,AZJMUP77WBQZQ,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1,0.016667
2,AZFYUPGEE6KLW,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1,0.016667
3,AZD3ON9ZMEGL6,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1,1,0.016667
4,AZCOSCQG73JZ1,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1,0.016667
5,AZ520NWW40I9B,B00QXW95Q4,5.0,NaN,NaN,56,1,1,0.016667
6,AZ4T3DDT8L9EQ,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1,0.016667
7,AYY463Q7V3LTU,B001OHV1H4,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",5,1,1,0.016667
8,AYORX1AK30JMB,B0012Y0ZG2,5.0,5.000000,"{'actual_k': 40, 'was_impossible': False}",4,1,1,0.016667
9,AYNTULRNAIPNY,B0010ZBORW,4.0,3.916667,"{'actual_k': 4, 'was_impossible': False}",54,1,1,0.016667

0.01666666666666705

In [ ]:

########## needed files #############

my_stopwords = open("my_stopwords.txt", "r").read().splitlines()
# len(my_stopwords)
#http://members.unine.ch/jacques.savoy/clef/ 571 stopwords


############### No Preprocessing ##################

# join all sentences from 'title' into one big sentence
text1 = ' '.join(temp['title'].astype(str)).lower()

# tokenize it. separate words
text1 = (word_tokenize(text1))

# no_pre_vocab[no_pre_vocab[0].str.contains("Men's")]

# turn into DataFrame and drop duplicate words. Finally make it a list again
no_pre_vocab = (pd.DataFrame(text1)[0].drop_duplicates())



# ############### Preprocessing ##################

# Must break hyphenized words!!!! 
text2 = ' '.join(temp['title'].astype(str)).lower()
print('with no tokenization, ', len(text2))

# remove words that are numbers, punctuations or words with mixture of both
tre = "".join((char if char.isalpha() else " ") for char in text2).split()
print('After removel of punctuation and numbers, ',len(tre))

#remove stop words
tokens_wo_stopwords1 = [t for t in tre if t not in my_stopwords]
print('after removel of stopwords, ', len(tokens_wo_stopwords1))
toy1 = (list(pd.DataFrame(tokens_wo_stopwords1)[0].drop_duplicates()))

#stemm it
porter = PorterStemmer()

stemmed1 = [porter.stem(word) for word in tokens_wo_stopwords1]

#remove duplicates
toy11 = (list(pd.DataFrame(stemmed1)[0].drop_duplicates()))

print('jhsgdfjsdg', len(toy11))



# # remove words that are numbers, punctuations or words with mixture of both
coisa = (word_tokenize(text2))
print('after tokenization, ', len(coisa))

# pre_words1 = [c for c in coisa if c.isalpha()]
pre_words = " ".join((char if char.isalpha() else " ") for char in coisa).split()
# pre_words1
print('After removel of punctuation and numbers, ', len(pre_words))

tokens_wo_stopwords2 = [t for t in pre_words1 if t not in my_stopwords]
print('after removel of stopwords, ', len(tokens_wo_stopwords2))
toy2 = (list(pd.DataFrame(tokens_wo_stopwords2)[0].drop_duplicates()))



stemmed2 = [porter.stem(word) for word in tokens_wo_stopwords2]
toy22 = (list(pd.DataFrame(stemmed2)[0].drop_duplicates()))

print('ksjhfkjshfjas', len(toy22))


# # # remove stopwords!!!

tokens_wo_stopwords = [t for t in pre_words if t not in my_stopwords]

# len(tokens_wo_stopwords)


# # len(list(pd.DataFrame(tokens_wo_stopwords)[0].drop_duplicates()))

with no tokenization,  5413

['a',
 'q',
 'u',
 'a',
 'v',
 'e',
 'l',
 'v',
 'a',
 'a',
 'f',
 't',
 'e',
 'r',
 's',
 'h',
 'a',
 'v',
 'e',
 'c',
 'l',
 'a',
 's',
 's',
 'i',
 'c',
 'i',
 'c',
 'e',
 'b',
 'l',
 'u',
 'e',
 'o',
 'u',
 'n',
 'c',
 'e',
 'c',
 'i',
 't',
 'r',
 'e',
 's',
 'h',
 'i',
 'n',
 'e',
 'm',
 'o',
 'i',
 's',
 't',
 'u',
 'r',
 'e',
 'b',
 'u',
 'r',
 's',
 't',
 's',
 'h',
 'a',
 'm',
 'p',
 'o',
 'o',
 'f',
 'l',
 'o',
 'z',
 'n',
 'a',
 'r',
 's',
 'b',
 'l',
 'u',
 's',
 'h',
 't',
 'a',
 'j',
 'm',
 'a',
 'h',
 'a',
 'l',
 'a',
 'v',
 'a',
 'l',
 'o',
 'n',
 'o',
 'r',
 'g',
 'a',
 'n',
 'i',
 'c',
 's',
 'w',
 'r',
 'i',
 'n',
 'k',
 'l',
 'e',
 't',
 'h',
 'e',
 'r',
 'a',
 'p',
 'y',
 'c',
 'o',
 'q',
 'c',
 'l',
 'e',
 'a',
 'n',
 's',
 'i',
 'n',
 'g',
 'm',
 'i',
 'l',
 'k',
 'o',
 'z',
 'z',
 'u',
 'm',
 'z',
 'u',
 'm',
 'b',
 'a',
 'r',
 'a',
 'n',
 'i',
 's',
 'e',
 'l',
 'a',
 'v',
 'e',
 'n',
 'd',
 'e',
 'r',
 'o',
 'u',
 'n',
 'c',
 'e',
 'y',
 'a',
 'r',
 'd',
 'l',
 'e',
 'y',
 'b',
 'y',
 'y',
 'a',
 'r',
 'd',
 'l',
 'e',
 'y',
 'o',
 'f',
 'l',
 'o',
 'n',
 'd',
 'o',
 'n',
 'u',
 'n',
 'i',
 's',
 'e',
 'x',
 's',
 'l',
 'a',
 'y',
 'i',
 't',
 'o',
 'n',
 't',
 'h',
 'i',
 'c',
 'k',
 'h',
 'a',
 'n',
 'd',
 'a',
 'm',
 'p',
 'f',
 'o',
 'o',
 't',
 'c',
 'r',
 'e',
 'a',
 'm',
 'o',
 'z',
 'f',
 'r',
 'u',
 'i',
 't',
 's',
 'a',
 'm',
 'p',
 'p',
 'a',
 's',
 's',
 'i',
 'o',
 'n',
 'b',
 'l',
 'u',
 'e',
 'r',
 'e',
 'f',
 'r',
 'e',
 's',
 'h',
 'i',
 'n',
 'g',
 's',
 'h',
 'o',
 'w',
 'e',
 'r',
 'g',
 'e',
 'l',
 'f',
 'l',
 'o',
 'z',
 'w',
 'a',
 't',
 'e',
 'r',
 'p',
 'i',
 'k',
 'u',
 'l',
 't',
 'r',
 'a',
 'w',
 'a',
 't',
 'e',
 'r',
 'f',
 'l',
 'o',
 's',
 's',
 'e',
 'r',
 'a',
 'q',
 'u',
 'a',
 'v',
 'e',
 'l',
 'v',
 'a',
 'a',
 'f',
 't',
 'e',
 'r',
 's',
 'h',
 'a',
 'v',
 'e',
 'c',
 'l',
 'a',
 's',
 's',
 'i',
 'c',
 'i',
 'c',
 'e',
 'b',
 'l',
 'u',
 'e',
 'o',
 'u',
 'n',
 'c',
 'e',
 'w',
 'a',
 't',
 'e',
 'r',
 'p',
 'i',
 'k',
 'u',
 'l',
 't',
 'r',
 'a',
 'w',
 'a',
 't',
 'e',
 'r',
 'f',
 'l',
 'o',
 's',
 's',
 'e',
 'r',
 'f',
 'r',
 'e',
 's',
 'h',
 'e',
 'a',
 'u',
 'd',
 'e',
 'p',
 'a',
 'r',
 'f',
 'u',
 'm',
 's',
 'u',
 'g',
 'a',
 'r',
 'l',
 'e',
 'm',
 'o',
 'n',
 'o',
 'z',
 'c',
 'r',
 'e',
 's',
 't',
 'p',
 'r',
 'o',
 'h',
 'e',
 'a',
 'l',
 't',
 'h',
 'm',
 'u',
 'l',
 't',
 'i',
 'p',
 'r',
 'o',
 't',
 'e',
 'c',
 't',
 'i',
 'o',
 'n',
 'r',
 'i',
 'n',
 's',
 'e',
 'c',
 'o',
 'o',
 'l',
 'w',
 'i',
 'n',
 't',
 'e',
 'r',
 'g',
 'r',
 'e',
 'e',
 'n',
 'f',
 'l',
 'u',
 'i',
 'd',
 'o',
 'u',
 'n',
 'c',
 'e',
 'p',
 'h',
 'i',
 'l',
 'i',
 'p',
 's',
 'n',
 'o',
 'r',
 'e',
 'l',
 'c',
 'o',
 'a',
 'r',
 'c',
 'i',
 't',
 'e',
 'c',
 'm',
 'e',
 'n',
 's',
 's',
 'h',
 'a',
 'v',
 'i',
 'n',
 'g',
 's',
 'y',
 's',
 't',
 'e',
 'm',
 'b',
 'o',
 'n',
 'n',
 'e',
 'b',
 'e',
 'l',
 'l',
 's',
 'm',
 'a',
 'c',
 'k',
 'e',
 'r',
 's',
 'b',
 'a',
 't',
 'h',
 'a',
 'n',
 'd',
 'b',
 'o',
 'd',
 'y',
 's',
 't',
 'a',
 'r',
 'b',
 'u',
 'r',
 's',
 't',
 'c',
 'o',
 'l',
 'l',
 'e',
 'c',
 't',
 'i',
 'o',
 'n',
 'p',
 'h',
 'i',
 'l',
 'i',
 'p',
 's',
 's',
 'o',
 'n',
 'i',
 'c',
 'a',
 'r',
 'e',
 'u',
 'v',
 's',
 'a',
 'n',
 'i',
 't',
 'i',
 'z',
 'e',
 'r',
 'm',
 'a',
 'g',
 'g',
 'i',
 'e',
 's',
 'f',
 'u',
 'n',
 'c',
 't',
 'i',
 'o',
 'n',
 'a',
 'l',
 'o',
 'r',
 'g',
 'a',
 'n',
 'i',
 'c',
 's',
 'r',
 'a',
 's',
 'p',
 'b',
 'e',
 'r',
 'r',
 'y',
 'n',
 'a',
 'v',
 'y',
 'f',
 'o',
 'r',
 'e',
 's',
 't',
 'e',
 's',
 's',
 'i',
 'e',
 'n',
 'a',
 'i',
 'l',
 'p',
 'o',
 'l',
 'i',
 's',
 'h',
 'c',
 'u',
 't',
 'i',
 'c',
 'l',
 'e',
 'c',
 'a',
 'r',
 'e',
 'p',
 'r',
 'i',
 'm',
 'e',
 'r',
 's',
 'a',
 'n',
 'd',
 'f',
 'i',
 'n',
 'i',
 's',
 'h',
 'e',
 'r',
 's',
 's',
 'e',
 'x',
 'i',
 'n',
 't',
 'h',
 'e',
 'c',
 'i',
 't',
 'y',
 'k',
 'i',
 's',
 's',
 'b',
 'y',
 'i',
 'n',
 's',
 't',
 'y',
 'l',
 'e',
 'p',
 'a',
 'r',
 'f',
 'u',
 'm',
 's',
 'e',
 'a',
 'u',
 'd',
 'e',
 'p',
 'a',
 'r',
 'f',
 'u',
 'm',
 's',
 'p',
 'r',
 'a',
 'y',
 'o',
 'z',
 'w',
 'i',
 's',
 'e',
 'w',
 'a',
 'y',
 's',
 'h',
 'e',
 'r',
 'b',
 'a',
 'l',
 's',
 'w',
 'i',
 't',
 'c',
 'h',
 'h',
 'a',
 'z',
 'e',
 'l',
 's',
 'a',
 'l',
 'v',
 'e',
 'o',
 'z',
 'h',
 'e',
 'l',
 'e',
 'n',
 'o',
 'f',
 't',
 'r',
 'o',
 'y',
 't',
 'a',
 'n',
 'g',
 'l',
 'e',
 'f',
 'r',
 'e',
 'e',
 'h',
 'o',
 't',
 'a',
 'i',
 'r',
 'b',
 'r',
 'u',
 's',
 'h',
 'w',
 'h',
 'i',
 't',
 'e',
 'i',
 'n',
 'c',
 'h',
 'b',
 'a',
 'r',
 'r',
 'e',
 'l',
 'd',
 'r',
 'w',
 'o',
 'o',
 'd',
 's',
 'p',
 'u',
 'r',
 'e',
 'a',
 'l',
 'm',
 'o',
 'n',
 'd',
 'l',
 'i',
 'q',
 'u',
 'i',
 'd',
 'c',
 'a',
 's',
 't',
 'i',
 'l',
 'e',
 's',
 'o',
 'a',
 'p',
 'o',
 'u',
 'n',
 'c',
 'e',
 'a',
 'm',
 'e',
 'r',
 'i',
 'c',
 'a',
 'n',
 'c',
 'r',
 'e',
 'w',
 'b',
 'y',
 'a',
 'm',
 'e',
 'r',
 'i',
 'c',
 'a',
 'n',
 'c',
 'r',
 'e',
 'w',
 'c',
 'l',
 'a',
 's',
 's',
 'i',
 'c',
 'b',
 'o',
 'd',
 'y',
 'w',
 'a',
 's',
 'h',
 'o',
 'z',
 'k',
 'e',
 'n',
 't',
 't',
 'h',
 'e',
 'h',
 'a',
 'n',
 'd',
 'm',
 'a',
 'd',
 'e',
 'c',
 'o',
 'm',
 'b',
 'f',
 'i',
 'n',
 'e',
 'a',
 'n',
 'd',
 'c',
 'o',
 'a',
 'r',
 's',
 'e',
 't',
 'o',
 'o',
 't',
 'h',
 'e',
 'd',
 'p',
 'o',
 'c',
 'k',
 'e',
 't',
 'c',
 'o',
 'm',
 'b',
 's',
 'a',
 'w',
 'c',
 'u',
 't',
 'r',
 't',
 'm',
 'm',
 'u',
 'r',
 'b',
 'a',
 'n',
 's',
 'p',
 'a',
 'm',
 'o',
 'i',
 's',
 't',
 'u',
 'r',
 'i',
 'z',
 'i',
 'n',
 'g',
 'b',
 'o',
 'o',
 't',
 'i',
 'e',
 's',
 't',
 'o',
 'k',
 'e',
 'e',
 'p',
 'y',
 'o',
 'u',
 'r',
 'f',
 'e',
 'e',
 't',
 's',
 'm',
 'o',
 'o',
 't',
 'h',
 'h',
 'y',
 'd',
 'r',
 'a',
 't',
 'e',
 'd',
 'a',
 'n',
 'd',
 'm',
 'o',
 'i',
 's',
 't',
 'u',
 'r',
 'i',
 'z',
 'e',
 'd',
 'p',
 'l',
 'a',
 'n',
 't',
 'l',
 'i',
 'f',
 'e',
 's',
 'a',
 'n',
 'd',
 'a',
 'l',
 'w',
 'o',
 'o',
 'd',
 's',
 ...]

After removel of punctuation and numbers,  804
after removel of stopwords,  711
jhsgdfjsdg 392
after tokenization,  1038

['aqua',
 'velva',
 'after',
 'shave',
 'classic',
 'ice',
 'blue',
 'ounce',
 'citre',
 'shine',
 'moisture',
 'burst',
 'shampoo',
 'fl',
 'oz',
 'nars',
 'blush',
 'taj',
 'mahal',
 'avalon',
 'organics',
 'wrinkle',
 'therapy',
 'cleansing',
 'milk',
 'oz',
 'zum',
 'zum',
 'bar',
 'anise',
 'lavender',
 'ounce',
 'yardley',
 'by',
 'yardley',
 'of',
 'london',
 'unisexs',
 'lay',
 'it',
 'on',
 'thick',
 'hand',
 'amp',
 'foot',
 'cream',
 'oz',
 'fruits',
 'amp',
 'passion',
 'blue',
 'refreshing',
 'shower',
 'gel',
 'fl',
 'oz',
 'waterpik',
 'ultra',
 'water',
 'flosser',
 'aqua',
 'velva',
 'after',
 'shave',
 'classic',
 'ice',
 'blue',
 'ounce',
 'waterpik',
 'ultra',
 'water',
 'flosser',
 'fresh',
 'eau',
 'de',
 'parfum',
 'sugar',
 'lemon',
 'oz',
 'crest',
 'rinse',
 'cool',
 'wintergreen',
 'fluid',
 'ounce',
 'philips',
 'norelco',
 'arcitec',
 'men',
 'shaving',
 'system',
 'bonne',
 'bell',
 'smackers',
 'bath',
 'and',
 'body',
 'starburst',
 'collection',
 'philips',
 'sonicare',
 'uv',
 'sanitizer',
 'maggie',
 'functional',
 'organics',
 'raspberry',
 'navy',
 'forest',
 'essie',
 'nail',
 'polish',
 'cuticle',
 'care',
 'primers',
 'and',
 'finishers',
 'sex',
 'in',
 'the',
 'city',
 'kiss',
 'by',
 'instyle',
 'parfums',
 'eau',
 'de',
 'parfum',
 'spray',
 'oz',
 'wiseways',
 'herbals',
 'witch',
 'hazel',
 'salve',
 'oz',
 'helen',
 'of',
 'troy',
 'tangle',
 'free',
 'hot',
 'air',
 'brush',
 'white',
 'inch',
 'barrel',
 'woods',
 'pure',
 'almond',
 'liquid',
 'castile',
 'soap',
 'ounce',
 'american',
 'crew',
 'by',
 'american',
 'crew',
 'classic',
 'body',
 'wash',
 'oz',
 'kent',
 'the',
 'handmade',
 'comb',
 'fine',
 'and',
 'coarse',
 'toothed',
 'pocket',
 'comb',
 'sawcut',
 'mm',
 'urban',
 'spa',
 'moisturizing',
 'booties',
 'to',
 'keep',
 'your',
 'feet',
 'smooth',
 'hydrated',
 'and',
 'moisturized',
 'plantlife',
 'sandalwood',
 'soap',
 'bar',
 'ounce',
 'ageless',
 'ultramax',
 'gold',
 'capsules',
 'count',
 'avalon',
 'organics',
 'vitamin',
 'c',
 'renewal',
 'creme',
 'oz',
 'maui',
 'rain',
 'hawaiian',
 'perfume',
 'whish',
 'coconut',
 'shaving',
 'cream',
 'smooth',
 'all',
 'natural',
 'shave',
 'cream',
 'for',
 'men',
 'amp',
 'women',
 'leaves',
 'skin',
 'so',
 'soft',
 'shea',
 'butter',
 'and',
 'coconut',
 'oil',
 'natural',
 'and',
 'organic',
 'skin',
 'care',
 'oz',
 'pump',
 'bath',
 'amp',
 'body',
 'works',
 'ile',
 'de',
 'tahiti',
 'moana',
 'coconut',
 'vanille',
 'moana',
 'body',
 'wash',
 'with',
 'tamanoi',
 'oz',
 'williams',
 'lectric',
 'shave',
 'ounce',
 'fusionbeauty',
 'liftfusion',
 'face',
 'lift',
 'organic',
 'fiji',
 'raw',
 'organic',
 'coconut',
 'oil',
 'jars',
 'nag',
 'champa',
 'super',
 'hit',
 'cones',
 'cones',
 'box',
 'axe',
 'shower',
 'tool',
 'detailer',
 'ea',
 'pack',
 'of',
 'clubman',
 'lustray',
 'blue',
 'spice',
 'after',
 'shave',
 'fluid',
 'ounce',
 'clean',
 'amp',
 'clear',
 'deep',
 'action',
 'cream',
 'facial',
 'cleanser',
 'for',
 'sensitive',
 'skin',
 'gentle',
 'daily',
 'face',
 'wash',
 'with',
 'oz',
 'pack',
 'of',
 'colgate',
 'fluoride',
 'toothpaste',
 'strawberry',
 'smash',
 'liquid',
 'gel',
 'oz',
 'pack',
 'of',
 'glide',
 'dental',
 'floss',
 'original',
 'floss',
 'pack',
 'of',
 'pre',
 'de',
 'provence',
 'maison',
 'french',
 'dried',
 'lavender',
 'blossoms',
 'for',
 'fragrance',
 'avalon',
 'grapefruit',
 'and',
 'geranium',
 'smoothing',
 'shampoo',
 'ounce',
 'astra',
 'platinum',
 'double',
 'edge',
 'safety',
 'razor',
 'blades',
 'blades',
 'x',
 'urban',
 'spa',
 'natural',
 'bamboo',
 'and',
 'jute',
 'bath',
 'mitt',
 'kate',
 'somerville',
 'nbsp',
 'exfolikate',
 'intensive',
 'nbsp',
 'exfoliating',
 'treatment',
 'nbsp',
 'fl',
 'oz',
 'luxury',
 'size',
 'bvlgari',
 'white',
 'by',
 'bvlgari',
 'for',
 'men',
 'and',
 'women',
 'shampoo',
 'oz',
 'folicure',
 'shampoo',
 'extra',
 'body',
 'oz',
 'with',
 'free',
 'nail',
 'file',
 'aquaphor',
 'healing',
 'ointment',
 'advanced',
 'therapy',
 'skin',
 'protectant',
 'ounce',
 'pack',
 'may',
 'vary',
 'nars',
 'blush',
 'gaiety',
 'dark',
 'and',
 'lovely',
 'beautiful',
 'beginnings',
 'shampoo',
 'fluid',
 'ounce',
 'revitalash',
 'by',
 'revitalash',
 'revitalash',
 'advanced',
 'eyelash',
 'conditioner',
 'ml',
 'oz',
 'colgate',
 'enamel',
 'health',
 'mouthwash',
 'andalou',
 'naturals',
 'clementine',
 'c',
 'illuminating',
 'toner',
 'fl',
 'oz',
 'facial',
 'toner',
 'helps',
 'hydrate',
 'amp',
 'balance',
 'skin',
 'ph',
 'for',
 'clear',
 'bright',
 'skin',
 'hammam',
 'el',
 'hana',
 'argan',
 'therapy',
 'egyptian',
 'white',
 'musk',
 'body',
 'lotion',
 'from',
 'turkey',
 'mad',
 'hippie',
 'face',
 'cream',
 'with',
 'anti',
 'wrinkle',
 'peptide',
 'complex',
 'ounces',
 'pantene',
 'ultimate',
 'shampoo',
 'and',
 'conditioner',
 'fl',
 'oz',
 'packaging',
 'may',
 'vary',
 'jhirmack',
 'silver',
 'plus',
 'shampoo',
 'ageless',
 'oz',
 'pack',
 'of',
 'victoria',
 'secret',
 'dream',
 'angels',
 'heavenly',
 'angel',
 'wash',
 'oz',
 'crest',
 'professional',
 'gingivitis',
 'kit',
 'count',
 'crest',
 'for',
 'life',
 'cpc',
 'smooth',
 'mint',
 'rinse',
 'fl',
 'oz',
 'toni',
 'amp',
 'guy',
 'glamour',
 'volume',
 'plumping',
 'whip',
 'fluid',
 'ounce',
 'fekkai',
 'full',
 'blown',
 'aerosol',
 'foam',
 'cond',
 'us',
 'oz',
 'ounce',
 'home',
 'health',
 'evercln',
 'face',
 'cream',
 'fluid',
 'ounce',
 'eo',
 'shower',
 'gel',
 'grapefruit',
 'amp',
 'mint',
 'oz',
 'spongelle',
 'wild',
 'flower',
 'uses',
 'body',
 'wash',
 'buffer',
 'french',
 'lavender',
 'quot',
 'x',
 'quot',
 'caress',
 'body',
 'wash',
 'sheer',
 'twilight',
 'oz',
 'pk',
 'crest',
 'strips',
 'count',
 'rimmel',
 'provocalips',
 'kissproof',
 'lipstick',
 'kiss',
 'fatal',
 'fluid',
 'ounce',
 'peter',
 'lamas',
 'wheatgrass',
 'purifying',
 'shampoo',
 'and',
 'conditioner',
 'set',
 'fluid',
 'ounce',
 'each',
 'pantene',
 'volume',
 'conditioner',
 'fluid',
 'ounce',
 'product',
 'size',
 'may',
 'vary',
 'oznaturals',
 'anti',
 'aging',
 'retinol',
 'serum',
 'most',
 'effective',
 'anti',
 'wrinkle',
 'serum',
 'contains',
 'professional',
 'strength',
 'vitamin',
 'e',
 'get',
 'the',
 'dramatic',
 'youthful',
 'results',
 'you',
 'rsquo',
 've',
 'been',
 'looking',
 'for',
 'theorie',
 'argan',
 'oil',
 'ultimate',
 'reform',
 'shampoo',
 'amp',
 'conditioner',
 'fl',
 'oz',
 'each',
 'sexy',
 'straight',
 'smooth',
 'and',
 'seal',
 'hair',
 'spray',
 'ounce',
 'pack',
 'of',
 'lucia',
 'flowers',
 'print',
 'brown',
 'large',
 'hair',
 'clip',
 'clamp',
 'pack',
 'of',
 'colors',
 'mineral',
 'pressed',
 'powder',
 'quot',
 'creamy',
 'natural',
 'quot',
 'naturelle',
 'styling',
 'gel',
 'pre',
 'de',
 'provence',
 'artisanal',
 'french',
 'soap',
 'bar',
 'enriched',
 'with',
 'shea',
 'butter',
 'for',
 'a',
 'smooth',
 'amp',
 'rich',
 'lather',
 'grams',
 'raspberry',
 'dove',
 'deep',
 'clean',
 'body',
 'face',
 'bar',
 'ounce',
 'count',
 'pack',
 'of',
 'hellip',
 'lectric',
 'shave',
 'original',
 'oz',
 'pre',
 'de',
 'provence',
 'maison',
 'french',
 'lavender',
 'bath',
 'amp',
 'shower',
 'gel',
 'ultimate',
 'body',
 'lotion',
 'by',
 'michael',
 'kors',
 'dolce',
 'amp',
 'gabbana',
 'compact',
 'parfum',
 'ounce',
 'colgate',
 'kids',
 'maximum',
 'cavity',
 'protection',
 'pump',
 'toothpaste',
 'ounce',
 'pack',
 'bali',
 'secrets',
 'natural',
 'deodorant',
 'organic',
 'amp',
 'vegan',
 'for',
 'women',
 'amp',
 'men',
 'all',
 'day',
 'fresh',
 'strong',
 'amp',
 'reliable',
 'protection',
 'scent',
 'sandalwood',
 'essie',
 'gel',
 'couture',
 'nail',
 'polish']

After removel of punctuation and numbers,  749
after removel of stopwords,  670
ksjhfkjshfjas 376

In [ ]:
#################### WITH PREPROCESSING ###########################

text1 = ' '.join(temp['title'].astype(str)).lower()


# text1
# hey = " I'm frankie, and I like Multi-Vitamin34 off-shelve. "

# # remove all numbers and punctuation. Also separate words linked buy punctuatio (eg: Multi-Vitamin -> ['Multi', 'Vitamin']) 
dead = "".join((char if char.isalpha() else " ") for char in text1)#.split()

dead = word_tokenize(dead)

tokens_wo_stopwords = [t for t in dead if t not in english_stopwords]

len(tokens_wo_stopwords)

# tokens_wo_stopwords

porter = PorterStemmer()
stemmed = [porter.stem(word) for word in tokens_wo_stopwords]
len(stemmed)

# stemmed

(pd.DataFrame(stemmed)[0].drop_duplicates())


# coisa = pd.DataFrame(stemmed)
# coisa.duplicated()

731

731

0         aqua
1        velva
2        shave
3      classic
4          ice
        ...
715        day
717     strong
719    reliabl
724      scent
728     coutur
Name: 0, Length: 406, dtype: object

In [ ]:

#make new column with tokens
token=pd.DataFrame(temp['title'].astype(str))
token["tokenized"]=token.apply(lambda row:nltk.word_tokenize(row["title"]),axis=1)


token
# join list of all domunents into corpus and drop duplicates (in df form, easier)
list2d = list(token["tokenized"])
merged = list(itertools.chain(*list2d))


token = pd.DataFrame(merged)[0].drop_duplicates()

# (token)


# vocab = Vocabulary(words)

,title,tokenized
50,"Aqua Velva After Shave, Classic Ice Blue, 7 Ounce","[Aqua, Velva, After, Shave, ,, Classic, Ice, B..."
111,Citre Shine Moisture Burst Shampoo - 16 fl oz,"[Citre, Shine, Moisture, Burst, Shampoo, -, 16..."
293,"NARS Blush, Taj Mahal","[NARS, Blush, ,, Taj, Mahal]"
392,Avalon Organics Wrinkle Therapy CoQ10 Cleansin...,"[Avalon, Organics, Wrinkle, Therapy, CoQ10, Cl..."
881,"ZUM Zum Bar Anise Lavender, 3 Ounce","[ZUM, Zum, Bar, Anise, Lavender, ,, 3, Ounce]"
...,...,...
26610,Ultimate Body Lotion By Michael Kors 3.4oz,"[Ultimate, Body, Lotion, By, Michael, Kors, 3...."
26759,"Dolce &amp; Gabbana Compact Parfum, 0.05 Ounce","[Dolce, &, amp, ;, Gabbana, Compact, Parfum, ,..."
28095,Colgate Kids Maximum Cavity Protection Pump To...,"[Colgate, Kids, Maximum, Cavity, Protection, P..."
29860,Bali Secrets Natural Deodorant - Organic &amp;...,"[Bali, Secrets, Natural, Deodorant, -, Organic..."
30471,essie Gel Couture Nail Polish,"[essie, Gel, Couture, Nail, Polish]"

In [ ]:
#make sentence
text = ' '.join(token)

# text
# remove numbers 
text_nonum = re.sub(r'\d+', '', text)

len(text_nonum.split())

#REMOVE PUNCTUATION
# # 'wf3'.isalpha()
text_p = "".join([char for char in text_nonum if char not in string.punctuation])

# text = text.isalpha()
# # (text_p.split())

# #TOKENIZE TO LOWER CASE
words_token = word_tokenize(text_p.lower())

# # # REMOVE STOPWORDS
english_stopwords = stopwords.words('english')
tokens_wo_stopwords = [t for t in words_token if t not in my_stopwords]

# # type(tokens_wo_stopwords)

porter = PorterStemmer()
stemmed = [porter.stem(word) for word in tokens_wo_stopwords]
# len(stemmed)


# # # stemmer2 = SnowballStemmer("english", ignore_stopwords = False)
# # # stemmed2 = [stemmer2.stem(x) for x in tokens_wo_stopwords]

# (stemmed2)

my_vocab = list(pd.DataFrame(stemmed)[0].drop_duplicates())

len(my_vocab)

522

396